
.ui-bar-a,
.ui-page-theme-a .ui-bar-inherit,
html .ui-bar-a .ui-bar-inherit,
html .ui-body-a .ui-bar-inherit,
html body .ui-group-theme-a .ui-bar-inherit {
	background-color: 			#e9e9e9 /*{a-bar-background-color}*/;
	border-color:	 		#dddddd /*{a-bar-border}*/;
	color: 					#333333 /*{a-bar-color}*/;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 0 /*{a-bar-shadow-radius}*/ 	#eeeeee /*{a-bar-shadow-color}*/;
	font-weight: bold;
	display:none;
}
.ui-btn .ui-icon-carat-d .ui-btn-icon-right .ui-corner-all .ui-shadow {display:none;}