@charset "utf-8";
/* CSS Document */

/* Media Queries */ 

@media only screen and (min-width:800px) and (max-width: 1280px) { 


 }
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width:863px) and (max-width: 959px) { }

@media (min-width: 768px) and (max-width: 979px) {
.circle-div {width:100px!important;height:150px !important; padding:0px 5px;}
.grey-right2{border-right:0px;}
.searchresult .form-inline button{margin-top:10px;}
.searchresult2 .form-inline button{margin-top:0px!important;}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (min-width: 640px) and (max-width: 767px) {
.grey-right2 .col-xs-12 {width:50%;}
.searchresult .form-inline .form-control{width:250px;}
#datetimepicker,#datetimepicker2{width:130px; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
.searchresult .form-inline .form-group{display:inline-block!important;}
.searchresult .form-inline .form-group .form-control{display:inline-block!important;}
.recordfound{display:block; margin-left:0px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 624px) {
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
/****** dashboard **********/
.grey-right2 {border-right:0px;}
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
.circle-div{border:0px ;   word-wrap: break-word; border-radius:0px;  padding:0px 5px 0px; height:50px ;width:300px; text-align:center; line-height:22px; color:#000;  font-size:18px;  font-family: 'Roboto-Regular'; display:inline-block;  bottom: 0;display: table-cell; vertical-align: bottom; border-radius:0px; border:1px solid #e2e2e2;}
.recordfound{display:block; margin-left:0px; margin-top:10px;}
.radio-inline{display:block; margin-left:0px!Important;}
.circle-div p {float:left;}
.dashboard-container .container-fluid{margin:0px ;padding:0px;}
.circle-div .smalldiv {margin:0px; width:270px;}
.grey-right2 .row,.col-xs-12 {margin:0px; padding:0px;}
.paddingtop-40 {padding-top:10px !important;}
.rightsection .data p {font-size:20px;}

.pagewrap {padding-bottom:10px;}
.rightsection {display:block;}
}

/*Mobile Portrait Size to Mobile Landscape Size (devices and browsers)*/ 
@media only screen and (max-width: 479px) {
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
 }

@media only screen and (min-width: 360px) and (max-width: 479px) {
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
.recordfound{display:block; margin-left:0px; margin-top:10px;}
.radio-inline{display:block; margin-left:0px!Important;}

/****** dashboard **********/
.grey-right2 {border-right:0px;}
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
.circle-div{border:0px ;   word-wrap: break-word; border-radius:0px;  padding:0px 5px 0px; height:50px ;width:300px; text-align:center; line-height:22px; color:#000;  font-size:18px;  font-family: 'Roboto-Regular'; display:inline-block;  bottom: 0;display: table-cell; vertical-align: bottom; border-radius:0px; border:1px solid #e2e2e2;}
.recordfound{display:block; margin-left:0px; margin-top:10px;}
.radio-inline{display:block; margin-left:0px!Important;}
.circle-div p {float:left;}
.dashboard-container .container-fluid{margin:0px ;padding:0px;}
.circle-div .smalldiv {margin:0px; width:270px;}
.grey-right2 .row,.col-xs-12 {margin:0px; padding:0px;}
.paddingtop-40 {padding-top:10px !important;}
.rightsection .data p {font-size:20px;}
.rightsection img{height:20%; width:20%;}
.pagewrap {padding-bottom:10px;}
.rightsection {display:block;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {

/****** dashboard **********/
.grey-right2 {border-right:0px;}
.searchresult .form-inline .form-control{width:100%;}
#datetimepicker,#datetimepicker2{width:100%; background: url("../images/calender.png") no-repeat scroll 95% 8px; background-color:#fff;}
.circle-div{border:0px ;   word-wrap: break-word; border-radius:0px;  padding:0px 5px 0px; height:50px ;width:300px; text-align:center; line-height:22px; color:#000;  font-size:18px;  font-family: 'Roboto-Regular'; display:inline-block;  bottom: 0;display: table-cell; vertical-align: bottom; border-radius:0px; border:1px solid #e2e2e2;}
.recordfound{display:block; margin-left:0px; margin-top:10px;}
.radio-inline{display:block; margin-left:0px!Important;}
.circle-div p {float:left;}
.dashboard-container .container-fluid{margin:0px ;padding:0px;}
.circle-div .smalldiv {margin:0px; width:270px;}
.grey-right2 .row,.col-xs-12 {margin:0px; padding:0px;}
.paddingtop-40 {padding-top:10px !important;}
.rightsection .data p {font-size:20px;}
.rightsection img{height:20%; width:20%;}
.pagewrap {padding-bottom:10px;}

.borderbot-none {border-bottom:1px solid , #e4e7ea!important; }

}