/***********************************fonts***********************************/

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(../fonts/Roboto-Light.woff) format('woff');
}
@font-face {
  font-family: 'arial, sans-serif';
  font-style: normal;
  font-weight: 300;
  src: local('arial, sans-serif'), local('arial, sans-serif'), url(../fonts/arial, sans-serif.woff) format('woff');
}

@font-face {
  font-family: 'arial, sans-serif';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Bold'), local('arial, sans-serif'), url(../fonts/arial, sans-serif.woff) format('woff');
}

@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Bold'), local('Roboto-Medium'), url(../fonts/Roboto-Medium.woff) format('woff');
}

/***********************************fonts***********************************/


/***********************************global margin css***********************************/
.padding-rit{padding-right:0px !important;}
.marginbot-0{margin-bottom:0px!important}
.margintop-0{margin-top:0px!important}
.marginleft-0{margin-left:0px!important}
.marginright-0{margin-right:0px!important}
.marginbot-10{margin-bottom:10px!important}
.margintop-10{margin-top:10px!important}
.marginleft-10{margin-left:10px!important}
.marginright-10{margin-right:10px!important}
.marginbot-20{margin-bottom:20px!important}
.margintop-20{margin-top:20px!important}
.marginleft-20{margin-left:20px!important}
.marginright-20{margin-right:20px!important}
.margintop-5{margin-top:5px!important}
.marginbot-5{margin-bottom:5px!important}
.margintop-14{margin-top:14px!important}
.margintop-25{margin-top:25px!important}
.margintop-60{margin-top:60px!important}
.margintop-9{margin-top:9px!important}
.margintop-5{margin-top:5px!important}
.marginbot-30 {margin-bottom:30px !important;}
.margin-right-15 {margin-right:-15px !important;}
.margin-left-15 {margin-left:-15px !important;}
/***********************************global margin css***********************************/


/***********************************global padding css***********************************/
.paddingbot-0{padding-bottom:0px!important}
.paddingtop-0{padding-top:0px!important}
.paddingleft-0{padding-left:0px!important}
.paddingright-0{padding-right:0px!important}
.paddingbot-5{padding-bottom:5px!important}
.paddingtop-5{padding-top:5px!important}
.paddingleft-5{padding-left:5px!important}
.paddingright-5{padding-right:5px!important}
.paddingbot-10{padding-bottom:10px!important}
.paddingtop-10{padding-top:10px!important}
.paddingtop-20{padding-top:20px!important}
.paddingtop-30{padding-top:30px!important}
.paddingtopbottom-15{padding-top:15px!important; padding-bottom:15px!important}
.paddingbottom-20{padding-top:20px!important}
.paddingtop-15{padding-top:15px!important}
.paddingtop-40{padding-top:40px!important}
.paddingleft-10{padding-left:10px!important}
.paddingright-10{padding-right:10px!important}
.paddingleft_50 {padding-left: 50px!important}
.paddingtopbottom_12{padding-top:12px!important;padding-bottom:12px!important }
/***********************************global padding css***********************************/

.compulsory{ color:#df282c}
.editformlayout .show{ padding:5px}
.bodybg{ background:#000 url('../newimg/topbg.jpg') no-repeat fixed center center;-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
}
.logo{ margin:0px auto; padding:0px; text-align:center; position:relative; top:50px}
.logo2{ margin:0px auto; padding:50px 0px; text-align:center; position:relative;background-color:#000;}
.lF {float:left !important;}
.rF {float:right !important;}
.btn-grey {background-color:#ccc !important;}
.btn-grey:hover {background-color:#e5e4e4 !important;}
.admin-imgbox {width:100px; height:100px; overflow:hidden;}
.admin-imgbox img {max-width:100%;}
.font_12 {font-size:12px !important;}
.font_14 {font-size:14px !important;}
.font_20 {font-size:20px !important;}
.text-center {text-align:center !important;}


/***********************************signin***********************************/
.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 132px auto ;
  border:0px solid #ccc;
  position:relative;
  top:50%;
  /*background:#f4f4f4*/
  background:url('../newimg/blacktrans.png') repeat;  -webkit-border-radius: 5px;   -moz-border-radius:5px;   border-radius: 5px; }

.form-signin label{ color:#fff; font-family:'Roboto-Medium'; font-weight:normal;}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-signin-heading{color: #fff; font-size: 18px; font-family:'Roboto-Medium'; text-align: center;}

.form-signin .checkbox {
  font-weight: normal;

}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {

}
.form-signin input[type="password"] {

}
/***********************************signin***********************************/


/************table structure *******************/
th {
    background: linear-gradient(#dfdfdf,#fff);
    color: #333;
    text-align: left;
	font-family: 'arial, sans-serif';
	font-weight:normal;
}


.btn{font-family: 'Roboto-Medium';}
.gradientbtn{ background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top,  #dcdcdc 50%, #c3c3c3 51%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#dcdcdc), color-stop(51%,#c3c3c3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* IE10+ */
background: linear-gradient(to bottom,  #dcdcdc 50%,#c3c3c3 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#c3c3c3',GradientType=0 );
border-color:#c3c3c3; color:#000; text-transform:uppercase; /* IE6-9 */
}

.gradientbtn{ background: #2989d8; /* Old browsers */
background: -moz-linear-gradient(top,  #dcdcdc 50%, #c3c3c3 51%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#dcdcdc), color-stop(51%,#c3c3c3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #dcdcdc 50%,#c3c3c3 51%); /* IE10+ */
background: linear-gradient(to bottom,  #dcdcdc 50%,#c3c3c3 51%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#c3c3c3',GradientType=0 );
border-color:#c3c3c3; color:#000; text-transform:uppercase; /* IE6-9 */
}
.btn-primary {
    background-color: #4388cd;
    border-color: #4388cd;
    color: #fff;	
	}

.btn-default {
    background-color: transparent;  
	}	
	
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #cdcdcd;
}

/************table structure *******************/


/******** Button **********/
.bgwhite {background-color:#fff !important;}



/***********************************forgot password***********************************/
.form-forgotpassword {
  max-width: 500px;
  padding: 15px;
  margin: 132px auto ;
  /*border:1px solid #ccc;*/
  position:relative;
  top:50%;
  background:url('../newimg/blacktrans.png') repeat;  -webkit-border-radius: 5px;   -moz-border-radius:5px;   border-radius: 5px; }


}
.form-forgotpassword .form-forgotpassword-heading,
.form-forgotpassword .checkbox {
  margin-bottom: 10px;
}
.form-forgotpassword  label{ color:#fff}
.form-forgotpassword .form-forgotpassword-heading{ color: #fff;    font-size: 18px;    font-weight: bold;    text-align: center;}

.form-forgotpassword .checkbox {
  font-weight: normal;

}
.form-forgotpassword .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-forgotpassword .form-control:focus {
  z-index: 2;
}
.form-forgotpassword input[type="email"] {

}
.form-forgotpassword input[type="password"] {

}
/***********************************forgot password***********************************/



/***********************************footer***********************************/
.footer {   /* position: absolute;  bottom: 0; */  width: 100%;  background-color: #1c1c1c;  text-align:center;  padding:10px 0px;  }
.footer2{    position: absolute;  bottom: 0;background-color: #000 !important;   }
.footer p{  margin:0px}
/***********************************footer***********************************/


/***********************************dashboard***********************************/
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.email-dtls .table-responsive {overflow-x:auto;}
/***********************************dashboard***********************************/

/*******************responsive tabs***************************/
ul.resp-tabs-list, p {
margin: 0px;
padding: 0px;
}
.resp-tabs-list li {
font-weight: 600;
font-size: 13px;
display: inline-block;
padding: 13px 15px;
margin: 0;
list-style: none;
cursor: pointer;
float: left;
}
.resp-tabs-container {
padding: 0px;
background-color: #fff;
clear: left;
}
h2.resp-accordion {
cursor: pointer;
padding: 5px;
display: none;
}
.resp-tab-content {
display: none;
padding: 15px;
}
.resp-tab-active {
border: 1px solid #c1c1c1;
border-bottom: none;
margin-bottom: -1px !important;
padding: 12px 14px 14px 14px !important;
}
.resp-tab-active {
border-bottom: none;
background-color: #fff;
}
.resp-content-active, .resp-accordion-active {
display: block;
}
.resp-tab-content {
border: 1px solid #c1c1c1;
}
h2.resp-accordion {
font-size: 13px;
border: 1px solid #c1c1c1;
border-top: 0px solid #c1c1c1;
margin: 0px;
padding: 10px 15px;
}
h2.resp-tab-active {
border-bottom: 0px solid #c1c1c1 !important;
margin-bottom: 0px !important;
padding: 10px 15px !important;
}
h2.resp-tab-title:last-child {
border-bottom: 12px solid #c1c1c1 !important;
background: blue;
}
/*-----------Vertical tabs-----------*/
.resp-vtabs ul.resp-tabs-list {
float: left;
width: 30%;
}
.resp-vtabs .resp-tabs-list li {
display: block;
padding: 15px 15px !important;
margin: 0;
cursor: pointer;
float: none;
}
.resp-vtabs .resp-tabs-container {
padding: 0px;
background-color: #fff;
border: 1px solid #c1c1c1;
float: left;
width: 68%;
min-height: 250px;
border-radius: 4px;
clear: none;
}
.resp-vtabs .resp-tab-content {
border: none;
}
.resp-vtabs li.resp-tab-active {
border: 1px solid #c1c1c1;
border-right: none;
background-color: #fff;
position: relative;
z-index: 1;
margin-right: -1px !important;
padding: 14px 15px 15px 14px !important;
}
.resp-arrow {
width: 0;
height: 0;
float: right;
margin-top: 3px;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-top: 12px solid #c1c1c1;
}
h2.resp-tab-active span.resp-arrow {
border: none;
border-left: 6px solid transparent;
border-right: 6px solid transparent;
border-bottom: 12px solid #9B9797;
}
/*-----------Accordion styles-----------*/
h2.resp-tab-active {
background: #DBDBDB !important;
}
.resp-easy-accordion h2.resp-accordion {
display: block;
}
.resp-easy-accordion .resp-tab-content {
border: 1px solid #c1c1c1;
}
.resp-easy-accordion .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
.resp-jfit {
width: 100%;
margin: 0px;
}
.resp-tab-content-active {
display: block;
}
h2.resp-accordion:first-child {
border-top: 1px solid #c1c1c1 !important;
}
/*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
@media only screen and (max-width: 768px) {
ul.resp-tabs-list {
display: none;
}
h2.resp-accordion {
display: block;
}
.resp-vtabs .resp-tab-content {
border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
border: none;
float: none;
width: 100%;
min-height: initial;
clear: none;
}
.resp-accordion-closed {
display:none !important;
}
.resp-vtabs .resp-tab-content:last-child {
border-bottom: 1px solid #c1c1c1 !important;
}
}

/*******************responsive tabs***************************/

/*******************edit fomr layout***************************/
/*.editformlayout{ width:75%; display:block}*/
.editformlayout{display: inline-block; position:relative;   /*  margin:0px  6px; */    vertical-align: top;   /*  width: 49%; */}
.radioinline{ margin-left:-20px!important}
.editformlayoutautowidth{width:100%!important}
/*******************edit fomr layout***************************/


/***********************************global error***********************************/
.error { color:#a94442; font-size:12px}


/***********************************searchresult***********************************/
.searchresult{ display:block; color:#808080; padding:15px;  font-family: sans-serif;border-radius: 7px; border: 1px solid #bdbec1;}
.searchresult b {font-family: "arial, sans-serif"; font-weight: normal;}

/***********************************searchresult***********************************/


/***********************************toplogorow***********************************/
.toplogorow{ display:block; margin:0px auto 0px ;background-color: #fff;    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }
.ip_box{ display:block; color:#aaa; font-size:12px; float:left}
.ip_box h3{ display:block; margin-top:0px; color:#000}
.ip_box .date{ display:block; color:#000; font-size:14px}

/***********************************toplogorow***********************************/

/***********************************shorticons***********************************/
.shorticons { display:block; margin-top:5px}
.shorticons ul { display:block; margin:0px auto; padding:0px}
.shorticons li { display:inline-block; margin:0px auto; padding:3px; list-style-type:none;  vertical-align:middle; background:#F8F8F8; border:1px solid #E7E7E7;  height:45px; margin-bottom:5px; font-size:30px; }
/***********************************shorticons***********************************/


/***********************************legendsicons***********************************/
.legendsicons { display:block; margin-top:5px}
.legendsicons .heading{ display:inline-block; vertical-align:middle}
.legendsicons ul { display:inline-block; margin:0px auto; padding:0px; vertical-align:middle}
.legendsicons li { display:inline-block; margin:0px auto; padding:3px; list-style-type:none;  vertical-align:middle;  margin-bottom:5px;  }
.legendsicons .heading b {font-family:'arial, sans-serif'; font-weight:normal;}
/***********************************shorticons***********************************/


#pagewarp {    margin: 0 auto;    min-height: 100%;    padding: 0;    position: relative;    width: 100%;}
html, body {    height: 100%;    margin: 0;    padding: 0; background:rgb(237, 237, 237);}
.pagewrap {    padding-bottom: 0px;    position: relative; }


/***********************************ammended bootstatpcss***********************************/


@media (max-width: 768px) {

.editforms-bootstrap .pull-left  {  float:none!important}
.breadcrumb li{ line-height:25px}
.editforms-bootstrap .editformlayout{ display:block; width:auto}
}



@media (min-width:640px) and (max-width: 767px) {

 }



@media (min-width: 480px) and (max-width: 639px) {


}


  @media (min-width: 360px) and (max-width:479px) {

  .highcharts-container{width:309px !important;}


}

  @media (max-width: 320px){

  .highcharts-container{width:284px !important;}
 }


/***********************************legendsicons***********************************/

.timeline{display:block; margin:10px}

.menublue{background:#000}
.menublue .navbar-nav > li > a{ color:#fff}
.languagemenublue{background:#02A9D3}
.languagemenublue .navbar-nav > li > a{ color:#fff}
.languagemenublue .navbar-brand{ color:#fff; font-weight:bold}
/*oragecolor{ffce08}*/


.gray-lang{ }

.notify {background:url(../images/icon/notify-icon.png) no-repeat right; position:relative; float:right; width:25px; height:29px;}
.notify a {background:#ff0000; border-radius: 50px; color: #fff; font-size: 12px; font-weight: bold; line-height: 16px; padding: 3px;
 position: absolute; right: -10px; top: 0; min-height:22px; min-width:22px; text-align:center;}

.border-btmhours{  border-bottom: 1px dashed #ccc;padding-bottom: 5px;  /*width: 54%;*/ }

.branchorder .col-sm-3{ margin-bottom:15px}
.branchorder .branchnamehead{ font-size:20px; color:#000; display:block; margin:15px 0px}
.branchorder .branchorder-set{ font-size:14px; color:#000; display:block; margin-bottom:5px}
.branchorder .branchorder-set .labels{ font-size:16px}
.branchorder .branchorder-set .labelscnt{ font-size:18px; font-weight:bold}
.branchorder .branchorder-details{ font-size:14px; text-align:right; dispaly:block; padding-bottom:15px }
.branchorder .branchorder-details a{ color:#fff; margin-right:20px}
.padd-txtctr{padding-bottom:16px!important; text-align:center !important;}
.txt-cnter{text-align:center !important;}

.bagrnd-clr{background-color:#fcfcfc; padding:10px 0px 10px 0px;}
.mange-brnchm{margin:0px; padding:0px; position:relative;  }
.mange-brnchm .images-remt{width:140px; overflow:hidden; position:relative; cursor:pointer;  height:120px; border:1px solid #ccc; background-color:#fff; line-height:118px; text-align:center;}
.mange-brnchm .images-remt img{width:100%; height:100%;}
.mage-name-add{margin:0px;}
.mage-name-add h2{margin-top:0px; font-size:26px;}
.mage-name-add  p{margin-top:0px;font-size:21px;}

.main-imgset{margin:0px; padding:0px; position:relative;  }
.main-imgset .images-rest{width:150px; overflow:hidden; position:relative; cursor:pointer;  height:140px; background-color:#ccc; line-height:138px; text-align:center;}
.main-imgset .images-rest img{width:100%; height:100%;}
.main-imgset .edt-btnm{display:none;top:1px; right:41px; position:absolute;  }
.main-imgset:hover .edt-btnm{display:block;}
.main-imgset:hover .edt-btnm a{padding:5px 6px; color:#fff; display:block; background-color:}




.form-resttn {margin:15px 0px 0px 0px; padding:0px; border:1px solid #ccc;}
.form-resttn  h2{font-size:22px; margin:0px 0px 20px 0px; padding:10px; color:#000; background-color:#ccc;}
.form-resttn .txt-alng{text-align:left !important; padding-top:0px;}


.mrgn-bottt{margin-bottom:7px !important}
.raitng-rewss{padding:10px;}
.raitng-rewss h3{margin-top:0px; font-size:18px;}
.star-imgss{margin-bottom:10px; padding:0px;}

.bran-ches{margin-top:25px; border:1px solid #ccc;}
.bran-ches  h2{font-size:22px; margin:0px 0px 20px 0px; padding:10px; color:#000; background-color:#ccc;}
.edit-changebrnch{margin:0px 0px 0px 0px; padding:0px;  }
.edit-changebrnch .edt-chnage{padding:8px; border:1px solid #ccc; background-color:#f6f6f6;}
.edit-changebrnch .edt-chnage .icns-szed{font-size:24px;}

.gray-lang .navbar-top-links li a {padding:5px;}

.gry_btnadmin{border-radius:7px; background-color:#666; color:#000;}
.gray-lang .glyphicon-user  {
 font-size:22px;
}
.gray-lang .fa-angle-down{font-size:22px;color:#808080;}
.gry_btn{background-color:#c9c9c9; color:#fff;}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/************ for textarea   ***********/
textarea.form-control, .form-control .valid {resize:none;}


/******* Dashboard ******/
.pagewrap .container{margin:0px auto; padding:0px;}
.pagewrap .navbar-top-links .dropdown-user{left:0px;}
.pagewrap .toplogorow {box-shadow:0px 0px 0px;}
.pagewrap .navbar-collapse {/* width:1208px; */ margin:0px auto;}
.pagewrap .navbar-nav {border:0px;}
.pagewrap .navbar-nav > li {border-right:1px solid #454545;}
.pagewrap .navbar-nav > li > a{padding:15px 20px 15px; font-size:13px;}
.pagewrap .navbar-nav .caret{ margin-left: 15px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;}
.pagewrap .menublue{border-radius:0px; border:0px;}
.pagewrap .nav a{color:#000;}
.pagewrap .gray-lang label{font-size:13px; font-family:'arial, sans-serif'; font-weight:normal;}
.pagewrap .navbar-top-links li:last-child {margin-right:0px;}
.dashboard-container .table{border:solid 1px #e4e7ea; background:#fff;}
.dashboard-container .table th{background:#eaeaea; color:#000; border-bottom:solid 1px #e4e7ea;}
.circle-div{border:2px solid #d3d3d3;    word-wrap: break-word; border-radius:50%;  padding:0px 20px 0px; height:170px ;width:170px; text-align:center; line-height:22px; color:#000;  background-color:#fff; font-size:18px;  font-family: 'arial, sans-serif'; display:inline-block;  bottom: 0;display: table-cell; vertical-align: bottom;}
.circle-div .smalldiv{ width:130px ;   top: 10px; height:auto;   margin:0px auto 30px; float:none}
.circle-div h3{font-size:18px;  font-family: 'arial, sans-serif'; margin-top:10px;}
.circle-div p{font-size:28px; margin-bottom:15px; font-family: 'Roboto-Medium';}
.circle-div:hover{background-color:#4388cc; color:#fff; cursor:pointer;}
.grey-bg { background-color:#f8f8f8; padding:25px 0px;}
.rightsection{text-align:center; padding:15px 0px; border-bottom:1px solid #e4e7ea;}
.rightsection .img{float:left;}
.rightsection .data{float:right; width:65%}
.rightsection .data p{font-size:32px; font-family: 'arial, sans-serif'; color:#000; }
.rightsection .data h2{color:#888888; font-family: 'arial, sans-serif'; font-size:22px; margin:0px; }
.greyborder{border:1px solid #e4e7ea; margin:20px 0px; padding:10px 0px 20px; background:#fff;}
.grey-left-right{border-left:1px solid #e4e7ea; border-right:1px solid #e4e7ea;}
.grey-left{border-left:1px solid #e4e7ea;}
.grey-right{border-right:1px solid #e4e7ea;}
.grey-right2{border-right:1px solid #c2c5c9}
.borderbot-none{border-bottom:none !important;}
.dashboard-container .table td{border-top:none !important; font-family: 'arial, sans-serif';}
.pagewrap .dashboard-container h4{color:#000; font-family: 'arial, sans-serif'; font-size:23px;}
.right-nav {float:right; display:block; border-left:1px solid #454545;}
.right-nav a {line-height:52px; color:#fff;}
.right-nav a .glyphicon-eye-open {padding:0 5px;}

h1.title{font-family: 'Roboto-Medium'; font-size:22px; margin:20px 0px;}
#datetimepicker,#datetimepicker2{background: url("../images/calender.png") no-repeat scroll 127px 8px; border:1px solid #ccc; background-color:#fff;border-radius:4px; width:150px;}
.searchresult .form-inline .form-control{width:300px;}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus { background-color: #4388cd;  color: #fff;}
.menublue > li > a:hover, .navbar-default .navbar-nav > li > a:focus{background-color:#4388cd!important; color:#fff;}
.menublue.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background-color:#4388cd; color:#fff;}
.menublue .dropdown-menu{background-color:#4388cd; color:#fff;}
.menublue .dropdown-menu > li > a{color:#fff!important;  font-size:13px;}
.menublue .dropdown-menu > li > a:hover{color:#000!important; background-color:#f00; }
.menublue .dropdown-menu > li > a:hover,
.menublue .dropdown-menu > li > a:focus {
  color: #000;
  text-decoration: none;
  background-color: #f5f5f5;
}
.menublue .navbar-nav > li > a{line-height:22px!important;}
.table-center th{text-align:center; }
.table-center td{text-align:center;}

.navbar { font-family: 'arial, sans-serif';}


.breadcrumb{font-size:13px; font-family: 'arial, sans-serif'; }
.breadcrumb > .active{color:#8b8b8b;}

.recordfound{font-size:18px; color:#000; font-family: 'arial, sans-serif'; margin-left:20px; }

.btn-gray{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dcdcdc+0,dcdcdc+50,c3c3c3+50,c3c3c3+100 */
background: #dcdcdc; /* Old browsers */
background: -moz-linear-gradient(top, #dcdcdc 0%, #dcdcdc 50%, #c3c3c3 50%, #c3c3c3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(50%,#dcdcdc), color-stop(50%,#c3c3c3), color-stop(100%,#c3c3c3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #dcdcdc 0%,#dcdcdc 50%,#c3c3c3 50%,#c3c3c3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #dcdcdc 0%,#dcdcdc 50%,#c3c3c3 50%,#c3c3c3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #dcdcdc 0%,#dcdcdc 50%,#c3c3c3 50%,#c3c3c3 100%); /* IE10+ */
background: linear-gradient(to bottom, #dcdcdc 0%,#dcdcdc 50%,#c3c3c3 50%,#c3c3c3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dcdcdc', endColorstr='#c3c3c3',GradientType=0 ); /* IE6-9 */
border:solid 1px #c3c3c3;
color:#000;
}
.sm-select{width:120px!Important;}

.table-responsive a i{color:#4388cc; font-size:16px; margin-right:5px; width:15px;}

.legendsicons i{color:#4388cc;}

.inner_container { background:#fff;}
.inner_container4 {min-height:500px;}

.dropdown-user.dropdown-menu{background-color:#fff!important;}
.dropdown-user.dropdown-menu li a:hover{background:#fff; color:#428bca;}

/* .blog-section  h5{font-size:15px; color:#454545; margin:5px 0px; }
.blog-section .blog-date{color:#9a9a9a;font-size:13px;}
.blog-section p{font-size:13px;} */

.blog-section ul {list-style:none;margin:0px;padding:0px;}
.blog-section ul  > li{border-bottom:1px solid #d8d8d8; /* border-radius:5px; */ padding-bottom:20px; background:none; /* margin:10px 0px 20px; */}
.blog-section ul  > li:last-child{border-bottom:none;}
.blog-section  h5{font-size:15px; color:#454545; margin:5px 0px; font-weight:bold;}
.blog-section .blog-date{color:#9a9a9a;font-size:13px;}
.blog-section p{font-size:13px;}

.graybox {background:#f4f4f4; border:1px solid #e7e7e7; padding:10px 0; margin-bottom:10px; position:relative;}
.txtcenter {text-align:center !important; display:block;}
.assignbtn {position: absolute; right: 15px; top:10px;}

.ajaxloader {
    background:url("../images/ajax-loader.gif") no-repeat center;
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
.branchdetails2 .reviewbox {background:#f8f8f8; border:1px solid #d8d8d8; border-radius:5px; margin-bottom:25px; padding:5px;}
.branchdetails2 h6.posted {font-family:"Roboto-Light"; font-size:13px; color:#000; margin:0;}
.branchdetails2 h6.posted span {color:#f44336; display:inline-block !important;}
.branchdetails2 h5 {font-size: 18px;}
.noreview {background:#f8f8f8; border:1px solid #d8d8d8; border-radius:5px; margin-bottom:25px; padding:5px; font-family:"Roboto-Light"; font-size:14px; color:#ff0000; margin:0; text-align:center;}

.notify.blackbg{background:url('../images/white-notify-icon.png'); margin-left:10px}
.notify.menubg{position:relative; top:5px; right:10px}
.dotsec tbody tr td.dot {padding-left:25px; position:relative;}
.dotsec tbody tr td.dot .orangedot {position:absolute; left:5px; top:7px;}
.orangedot{color:#fe9901;}
.orangedotstatus{color:#fe9901; padding:10px;}
.reddot{color:#FE0000; padding:10px;}
.greendot{color:#2A9F27; padding:10px;}
.showajaximage {background: url("../images/ajax-loader.gif") no-repeat center; height: 100%; left:0; opacity:0.7;
    position: fixed; top: 0; width: 100%; z-index: 999;}


.mall-right-info-timer{margin-top:10px}

.table tr td div.main-item {color: #000; font-size: 14px;}
.table tr td div.sub-item {color: #333; font-size: 13px;}

/**************** Payment page css here ***************/


.invoice-head .table > tbody > tr > td {border:0 none;}
.disabled {opacity: 0.4;cursor:text;}



/**************** Service Invoice page css here ***************/
.table tr.border_none td {border-top:0 none; border-bottom:0 none;}

/**************** Manage Restaurant Sequence page css here ***************/
.manage-sequence {margin:0;}
.manage-sequence h1 {font-family: "Roboto-Medium"; font-size: 20px; margin:0 0 20px;}
.manage-sequence dl {margin:0; width:100%; background:#4388cd; color:#fff; font-size:16px; font-weight:bold;}
.manage-sequence dl dt {float:left; width:5%; padding:10px; margin-right:20px; text-align:center; border-right:1px solid #ccc;}
.manage-sequence dl dd {float:left; padding:10px;}
.manage-sequence ul {padding:0; margin:0 0 20px; list-style:none;}
.manage-sequence ul li {background:#fff; border:1px solid #ccc; border-bottom:0 none; padding:0px; color:#333; text-align:left; display:block; min-height:40px; line-height:38px;}
.manage-sequence ul li:last-child {border-bottom:1px solid #ccc;}
.manage-sequence ul li span {text-align:center; width:5%; display:inline-block; margin-right:20px; border-right:1px solid #ccc;}
.manage-sequence ul li:hover {cursor:all-scroll;}



.new-order, .new-order1, .new-order2, .new-order3
{
	border: 1px solid #bdbec1;
    border-radius: 10px;
    margin-top: 10px;
	margin-bottom: 10px;
}
.heading
{
	border-bottom: 1px solid #bdbec1;
    border-radius: 9px 9px 0px 0px;
	background: linear-gradient(#dfdfdf,#fff);
}
.heading>h4
{
	font-weight: bold;
	color:#428bca !important;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	font-size: 16px !important;
	
}
.modal-body
{
	padding: 0px !important;
	font-size: 12px !important;
}
#newOrderBody
{
	border-radius: 7px !important;
}
.reload
{
	margin-left:10px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	color:white !important;
	background-color:#428bca !important;
}