html , body {
	direction: rtl;
	text-align: right;
}


.all-wrapper {
    direction: rtl;
    font-family: 'Droid Arabic Kufi', sans-serif;
}
footer {
    direction: rtl;
}
p {
    font-family: 'Droid Arabic Naskh', serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Arabic KufiBold', sans-serif;
}
.tooltip {
    font-family: 'Droid Arabic Kufi', sans-serif;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: right;
}
.col-xs-offset-12 {
    margin-right: 100%;
    margin-left: inherit;
}
.col-xs-offset-11 {
    margin-right: 91.66666667%;
    margin-left: inherit;
}
.col-xs-offset-10 {
    margin-right: 83.33333333%;
    margin-left: inherit;
}
.col-xs-offset-9 {
    margin-right: 75%;
    margin-left: inherit;
}
.col-xs-offset-8 {
    margin-right: 66.66666667%;
    margin-left: inherit;
}
.col-xs-offset-7 {
    margin-right: 58.33333333%;
    margin-left: inherit;
}
.col-xs-offset-6 {
    margin-right: 50%;
    margin-left: inherit;
}
.col-xs-offset-5 {
    margin-right: 41.66666667%;
    margin-left: inherit;
}
.col-xs-offset-4 {
    margin-right: 33.33333333%;
    margin-left: inherit;
}
.col-xs-offset-3 {
    margin-right: 25%;
    margin-left: inherit;
}
.col-xs-offset-2 {
    margin-right: 16.66666667%;
    margin-left: inherit;
}
.col-xs-offset-1 {
    margin-right: 8.33333333%;
    margin-left: inherit;
}
.col-xs-offset-0 {
    margin-right: 0;
    margin-left: inherit;
}
@media (min-width:768px) {
    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
	    float: right;
	}
	.col-sm-offset-12 {
	    margin-right: 100%;
	    margin-left: inherit;
	}
	.col-sm-offset-11 {
	    margin-right: 91.66666667%;
	    margin-left: inherit;
	}
	.col-sm-offset-10 {
	    margin-right: 83.33333333%;
	    margin-left: inherit;
	}
	.col-sm-offset-9 {
	    margin-right: 75%;
	    margin-left: inherit;
	}
	.col-sm-offset-8 {
	    margin-right: 66.66666667%;
	    margin-left: inherit;
	}
	.col-sm-offset-7 {
	    margin-right: 58.33333333%;
	    margin-left: inherit;
	}
	.col-sm-offset-6 {
	    margin-right: 50%;
	    margin-left: inherit;
	}
	.col-sm-offset-5 {
	    margin-right: 41.66666667%;
	    margin-left: inherit;
	}
	.col-sm-offset-4 {
	    margin-right: 33.33333333%;
	    margin-left: inherit;
	}
	.col-sm-offset-3 {
	    margin-right: 25%;
	    margin-left: inherit;
	}
	.col-sm-offset-2 {
	    margin-right: 16.66666667%;
	    margin-left: inherit;
	}
	.col-sm-offset-1 {
	    margin-right: 8.33333333%;
	    margin-left: inherit;
	}
	.col-sm-offset-0 {
	    margin-right: 0;
	    margin-left: inherit;
	}
}
@media (min-width:992px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
}
.col-md-offset-12 {
    margin-right: 100%;
    margin-left: inherit;
}
.col-md-offset-11 {
    margin-right: 91.66666667%;
    margin-left: inherit;
}
.col-md-offset-10 {
    margin-right: 83.33333333%;
    margin-left: inherit;
}
.col-md-offset-9 {
    margin-right: 75%;
    margin-left: inherit;
}
.col-md-offset-8 {
    margin-right: 66.66666667%;
    margin-left: inherit;
}
.col-md-offset-7 {
    margin-right: 58.33333333%;
    margin-left: inherit;
}
.col-md-offset-6 {
    margin-right: 50%;
    margin-left: inherit;
}
.col-md-offset-5 {
    margin-right: 41.66666667%;
    margin-left: inherit;
}
.col-md-offset-4 {
    margin-right: 33.33333333%;
    margin-left: inherit;
}
.col-md-offset-3 {
    margin-right: 25%;
    margin-left: inherit;
}
.col-md-offset-2 {
    margin-right: 16.66666667%;
    margin-left: inherit;
}
.col-md-offset-1 {
    margin-right: 8.33333333%;
    margin-left: inherit;
}
.col-md-offset-0 {
    margin-right: 0;
    margin-left: inherit;
}
}
@media (min-width:1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
}
.col-lg-offset-12 {
    margin-right: 100%;
    margin-left: inherit;
}
.col-lg-offset-11 {
    margin-right: 91.66666667%;
    margin-left: inherit;
}
.col-lg-offset-10 {
    margin-right: 83.33333333%;
    margin-left: inherit;
}
.col-lg-offset-9 {
    margin-right: 75%;
    margin-left: inherit;
}
.col-lg-offset-8 {
    margin-right: 66.66666667%;
    margin-left: inherit;
}
.col-lg-offset-7 {
    margin-right: 58.33333333%;
    margin-left: inherit;
}
.col-lg-offset-6 {
    margin-right: 50%;
    margin-left: inherit;
}
.col-lg-offset-5 {
    margin-right: 41.66666667%;
    margin-left: inherit;
}
.col-lg-offset-4 {
    margin-right: 33.33333333%;
    margin-left: inherit;
}
.col-lg-offset-3 {
    margin-right: 25%;
    margin-left: inherit;
}
.col-lg-offset-2 {
    margin-right: 16.66666667%;
    margin-left: inherit;
}
.col-lg-offset-1 {
    margin-right: 8.33333333%;
    margin-left: inherit;
}
.col-lg-offset-0 {
    margin-right: 0;
    margin-left: inherit;
}
}
body .text-left {
    text-align: right!important;
}
body .text-right {
    text-align: left!important;
}
body .pull-left {
    float: right!important;
}
body .pull-right {
    float: left!important;
}






.disclaimer ul li , .disclaimer>span {
	text-align: right;
}





/***********************************global margin css***********************************/
body .margin-z{margin:0px !important; }
body .margin-10{margin:10px!important}
body .marginbot-0{margin-bottom:0px!important}
body .margintop-0{margin-top:0px!important}
body .marginleft-0{margin-right:0px!important}
body .marginright-0{margin-left:0px!important}
body .marginbot-5{margin-bottom:5px!important}
body .marginbot-7{margin-bottom:7px!important}
body .margintop-5{margin-top:5px!important}
body .marginleft-5{margin-right:5px!important}
body .marginright-5{margin-left:5px!important}
body .marginbot-10{margin-bottom:10px!important}
body .margintop-10{margin-top:10px!important}
body .marginleft-10{margin-right:10px!important;margin-left:0px!important;}
body .marginleft-15{margin-right:15px!important}
body .margintop-15{margin-top:15px!important}
body .marginleft-etn{margin-right:18px!important}
body .marginright-10{margin-left:10px!important}
body .marginbot-20{margin-bottom:20px!important}
body .marginbot-25{margin-bottom:25px!important}
body .margintop-20{margin-top:20px!important}
body .marginleft-20{margin-right:20px!important}
body .marginright-20{margin-left:20px!important}
body .marginbot-30{margin-bottom:30px!important}
body .margintop-30{margin-top:30px!important}
body .marginleft-30{margin-right:30px!important}
body .marginleft-35{margin-right:35px!important}
body .marginright-30{margin-left:30px!important} 
body .marginbot-40{margin-bottom:40px!important}
body .margintop-40{margin-top:40px!important}
body .marginleft-40{margin-right:40px!important}
body .marginright-40{margin-left:40px!important}

/***********************************global margin css end***********************************/


/***********************************global padding css***********************************/
body .padding-0{padding:0px!important}
body .paddingbot-0{padding-bottom:0px!important}
body .paddingtop-0{padding-top:0px!important}
body .paddingleft-0{padding-right:0px!important}
body .paddingright-0{padding-left:0px!important}
body .paddingbot-5{padding-bottom:5px!important}
body .paddingtop-5{padding-top:5px!important}
body .paddingleft-5{padding-right:5px!important}
body .paddingright-5{padding-left:5px!important}
body .paddingbot-10{padding-bottom:10px!important}
body .paddingbot-36{padding-bottom:36px!important}
body .paddingtop-10{padding-top:10px!important}
body .paddingleft-10{padding-right:10px!important}
body .paddingright-10{padding-left:10px!important}
body .paddingleft-15{padding-right:15px!important}
body .paddingright-15{padding-left:15px!important}
body .padding-15{padding:15px !important;}
body .paddmid {padding:5px 12px !important;}
body .paddmidlf {padding:5px 30px !important;}
body .marginmid-10 {margin:0 10px !important;}
body .padding-10{padding:10px !important;}
/***********************************global padding css end***********************************/


/***********************************global border css***********************************/
body .border-left-none{border-right:none!important;}
body .border-right-none{border-left:none!important;}
body .border-top-none{border-top:none!important;}
body .border-bottom-none{border-bottom:none!important;}
body .border-right-grey{border-left:1px solid #ccc;border-right:0 !important;}
body .border-left-grey{border-right:0}
body .font-normal{font-weight:normal!important;}
body .inner_container {min-height:550px;}
body .font16 {font-size:16px !important;}
body .transparent {background:transparent !important;}
body .text-center {margin:0 auto !important; text-align:center;}
body .border-none{border:none!important;}

/***********************************global border css***********************************/

.navbar-nav {
	float: left !important;
}

.operatoruser-container .gray-strip .navbar-nav > li {
	float: right !important;
}


.operatoruser-container .gray-strip .navbar-nav > li > a {
	padding-right: 20px !important;
	padding-left: 0 !important;
}

.operatoruser-container .gray-strip .navbar-nav > li li a {
	text-align: right;
}


#spnbusyresttext {
    text-align: right !important;
}


body #searchFrm  [class*="col-"]{
	padding: 0 10px !important;
	
}




body .restomanagement .modal-dialog .modal-header .close {
    left: -17px!important;
    right: auto!important;
}

.restomanagement .modal-dialog .modal-body .col-sm-4:first-child a {
    float: right !important;
}

body .restomanagement .modal-dialog .modal-header h4 ,
body .restoinfo label,
body .account-sumry label,
.restomanagement .modal-dialog .modal-body .alert ,
body .restomanagement .modal-dialog .modal-restaurantMgmt .restoMgmt-order-details .restoMgmt-order-details-table tbody tr td , 
body .restomanagement .modal-dialog .modal-restaurantMgmt .restoMgmt-address-details .restoMgmt-address-details-table tbody tr td{
    text-align: right !important;
}

body .restomanagement .modal-dialog .modal-body .genreq , body .choicebox span {
    float: right !important;
}

body .restomanagement .modal-dialog .modal-body .req-dtls {
    float: left !important;
}


body .restomanagement .modal-dialog .modal-restaurantMg1mt .restoMgmt-payment-details>table tr td:first-child , body .disclaimer ul li , body .disclaimer>span , body .account-sumry   h5, .h5{
    text-align: right !important;
}
body .resto-status {
    padding: 0 15px !important;
}
body .list-inline{
    padding: 0 !important;
}
body .restomanagement .account-sumry .imgbox img {
    display: inline-block !important;
}
body .restomanagement .account-sumry .imgbox {
    float: left !important;
}
body .restoinfo label {
    padding: 7px 15px 0 15px !important;
}

body .account-sumry3 h5 {
    text-align: center !important;
}

body .branchdetails .panel-title {
    text-align: right;
    float: right;
}

body .branchdetails #accordion .panel .panel-heading [data-toggle="collapse"]:after {
    float: right;
    padding: 0 0 0 10px;
}


body .price-sec {
    text-align: left;
}

body .managebranch .fa-circle {
    margin: 0 0 0 10px;
}

body .managebranch ul li {
    float: right;
    border-right: 0;
    border-left: 1px solid #999;
}


body .managebranch ul li:last-child {
    border-left: 0;
    padding-left: 0;
    padding-right: 20px;
}

body .managerbranch-popup .modal-content dl dt {
    float: right;
    margin-right: 0;
    margin-left: 20px;
    text-align: right;
}


body .managerbranch-popup .modal-content dl dd {
    float: right;
    margin-right: 0;
    text-align: right;
}




body .gradientbtn-vieworder {
    float: left;
}



body .reports .dl-horizontal dt {
    
    text-align: right;
}


body .reports .dl-horizontal dd {

    margin: 0 !important;
}

th.invoice , th.subhead {
    text-align: right;
}


.resto-table tr td span {
  text-align: right !important;
}


.gradientbtn-vieworder {
    float: left !important;
}




body .restaurant-table-td:first-child , body .restaurant-table-td:last-child {
    text-align: right !important;
}
body .jD {
    float: left !important;
}

