#outerwrapper{ background:#fff; height:616px;}
#wrapper{ width:1000px; margin:0px auto;}



.login_contain{ width:366px; margin:0px auto; border:0px solid #cde1eb;}

.top{ padding-top:40px; margin:0px auto; text-align:center;}
.loginbox{ width:100%; height:100%; background:#e3f1f8; border:1px solid #cde1eb; border-radius:9px 9px 9px 9px; -moz-border-radius:9px 9px 9px 9px; -webkit-border-radius:9px 9px 9px 9px; padding:12px 0px; margin-top:40px;}
.loginbot_bg{ background:url(../images/transprent_botimg.png) no-repeat center top; width:361px; height:48px;}


.title{ background:url(../images/icon-lock.png) no-repeat 17px top; border-bottom:1px solid #c3c3c3; font-size:18px; font-weight:bold; color:#454545; padding:0px 17px 10px 17px; text-align:left; text-indent:24px; line-height:23px;}
.title span{ color:#0293d2;}

.padding_class{ padding:17px 17px 0px 17px;}
.errorbox{ width:100%;}
.errorbox_leftbg{ float:left; background:url(../images/errorbox_leftbg.png) no-repeat left top; width:8px; height:28px;}
.errorbox_rightbg{ float:left; background:url(../images/errorbox_rightbg.png) no-repeat right top; width:8px; height:28px;}
.errorbox_mid{ float:left; background:#fff2cc; border:1px solid #ffc96b; border-left:0px; border-right:0px; color:#ef0000; line-height:26px; }
.errorbox_mid span{ margin-right:8px;}
.successbox_mid{ float:left; background:#f4ffc7; border:1px solid #8bcb4c; border-left:0px; border-right:0px; color:#386000; line-height:26px;}
.successbox_mid span{ margin-right:8px;}
.successbox_leftbg{ float:left; background:url(../images/successbox_leftbg.png) no-repeat left top; width:8px; height:28px;}
.successbox_rightbg{ float:left; background:url(../images/successbox_rightbg.png) no-repeat right top; width:8px; height:28px;}


.inputfield_box{ margin:0px; }
.admin_input{ width:93%; height:100%; background:#fff; border:1px solid #cfcfcf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; padding:8px 6px 10px; color:#454545; font-size:14px; margin-top:15px;}
.inputfield_box label{ padding-left:5px;}

.copyright{  text-align:center; color:#5E5E5E;}
.copyright p{ margin:5px 0px;}


/* Admin Login */
.botbox{ padding:12px 0px; border-bottom:1px dotted #cfcfcf}
.forgotlink{ text-align:right; padding-top:4px;}
.forgotlink a{ color:#0293d2;}
.forgotlink a:hover{ color:#000;}
.error {color:#F00}


/* ----------------------------- */
