@charset "utf-8";
/* CSS Document */

/*-- Legends CSS -- */
.faq_legend_portion { padding:5px 10px; margin:0 0 5px; border:0px solid #ececec; width:98%; width:98%\9;  float:right; color:#fff; }
.faq_legend_portion  .leg_title{float:left;  font-size:14px; font-weight:bold; color:#f80300; text-align:right;}
.faq_legend_portion ul{float:right; list-style:none; margin:0 0 0 20px; padding:0;}
.faq_legend_portion ul li{float:left; margin-right:10px;}
.faq_legend_hd { font-size:14px; font-weight:bold; color:#454545; text-align:right; padding:15px 8px 0px 0px; float:left; }
.faq_active_icon { margin:2px 5px 3px 0px; float:left;}
.faq_active_hd { color:#454545; float:left; font-size:13px; line-height:18px; text-transform:capitalize;}
.faq_active_hd a { color:#333!important;}
.faq_active_hd a:hover { color:#61BD1C;}
.legend_title {
    color: #3C3C3C;
    float: right;
    font-size: 14px;
    font-weight: bold;
}

/*-- Admin Search Box --*/
.admin_search_wrapp{background:#5d5d5d !important; min-height: 39px;  padding:10px; margin-bottom:5px; overflow: hidden;}
.search_found{ font-weight: bold; font-size: 15px; margin-right:10px; color:#fff;}
.admin_search_wrapp input[type=button]{font-size:14px;}
.admin_search_wrapp input[type=submit]{font-size:14px;}
.admin_search_wrapp .select{background: none repeat scroll 0 0 #fff;  border: 1px solid #ccc; color: #242424;   padding:6px 10px;}
.admin_search_wrapp .input{width:auto;background: none repeat scroll 0 0 #fff;  border: 1px solid #ccc; color: #242424;    padding: 6px 10px; }
table .select{background: none repeat scroll 0 0 #fff;  border: 1px solid #ccc; color: #242424;   padding:6px 10px;}
table th{background: url("../images/tabs-greybg.jpg") repeat left top; color:#fff; border:1px solid #1E1B1B;}
table th a{color:#3e8fb5;}
table th a:hover{color:#454545;}

.buttonview { padding-left:450px;}

ul.manage_permission{margin:0; padding:0; list-style:none;}
ul.manage_permission li{ font-weight: bold; font-size: 16px; margin-bottom:10px;}
ul.manage_permission li ul{margin:10px 0 0 20px; padding:0; list-style:none;}
ul.manage_permission li ul li{line-height:18px; margin-bottom:0px;}
.inactiverow{background-color:#e5e5e5;}


/***VN:17122012****/

.admin_serachleft{ width:750px; float:left; border: 0px solid #000; }
.admin_serachright{ float:right;  border: 0px solid #ff0000; }
.width150{ width:250px!important; margin-right: 10px!important; line-height: 28px\9;}
.marginrt_10{ margin-right: 10px!important;}
.marginbot_10{ margin-bottom: 10px!important;}
.margintop_10{ margin-top: 10px!important;}
.marginleft_10{ margin-left: 10px!important;}
.marginright_10{ margin-right: 10px!important;}
.searchie{ *margin-top: -15px!important; }
.searchfoundtxt{ padding-top: 7px;}
.width173{ width: 173px!important;}