body{direction:rtl; }
.innercontent {text-align:right;}
.bordr-rithome{background-position: right center;}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {float:right}
.contact-info ul li{background:url(../images/list-arrow2.png) no-repeat left 7px;}
.innerpage .form-horizontal .control-label {text-align:right !important;}
.pull-left{float:right !important;}
.pull-right{float:left !important;}
.forleft{float:left !important;}
.col-panel ul li{background:url(../images/list-arrow2.png) no-repeat right 7px; padding-right:20px;}

/***************************************  Index page css here  ***************************************/
.banner-text {margin-right:-15px;}
.nav-ritbellow {padding:0 0 0 90px;}
.list-inline {margin-right:-5px;}
.nav {padding-right:0px;}
.new-contlf {border-right:0 none; border-left:1px solid #E9E8E8;}
.tab-browslinks .tabbable-line > .nav-tabs > li {margin-left:2px; margin-right:0px;}
.nav-tabs > li {float:right;}
.bootstrap-select > .btn {padding-left:30px;}
.selectric .label {margin:0 3px 0 8px !important; text-align:right !important;}
.selectric .button {left:0 !important; right:auto !important;}
.banner-content{background-image:url(../images/bannr-frm_arabic.png); background-repeat:no-repeat;}
.mainb-count {margin-left:none;right:-170px}
.col-lg-offset-3 { margin-right: 25%;}
.modal-footer .btn {margin-right:5px;}
.close{float:left;}

/********* carousal css start **********/
.carousel-inner .active.left { left: -25%; }
.carousel-inner .active.right { left: 25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:0px;background-image:none;}
.carousel{margin-top:0px;}
.carousel-inner a{color:#000 !important; text-shadow:none !important;}
/********* carousal css end **********/


/***********my account **********/
.inner-head ul {float:left;}

.terms{}
.terms .panel-heading [data-toggle="collapse"]:after {
       float: left;
	}
.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]
{margin:0 30px 15px 0;}
