/* Tool Tip CSS */
#bubble_tooltip{
	width:100px;
	position:absolute;
	display:none;
}
/*#bubble_tooltip .bubble_top{
	background:url('../images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}*/
#bubble_tooltip .bubble_middle{
	background:#2f2f2e;	
	padding:8px 5px;
	color:#fff;
	text-align:left;
	border-radius:3px 3px 0px 3px ; -moz-border-radius:3px 3px 0px 3px ; -o-border-radius:3px 3px 0px 3px; -webkit-border-radius:3px 3px 0px 3px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	font-size:14px;

}
#bubble_tooltip .bubble_bottom{
	background:url(../images/popup_bottomcorner.png) no-repeat right bottom;
	height:12px;
	width:12px;
	position:relative;
	top:0px;
	left:88%;
}

/*---------------------For tooltip------------------------------*/
.tooltip {
outline: none;
text-decoration: none;
position: relative;
}
.tooltip span {
margin-left: -999em;
position: absolute;
text-align:left; width:160px;
}
.tooltip:hover span {
border-radius: 5px 5px;
position: absolute; left: 1em; top: 2em; z-index: 99;
text-align:left;
margin-left: 0; width: 150px;
height:50px;	
}
.classic { padding: 0.8em 1em; }
.classic {background:#FFF; box-shadow:0px 0px 6px #333;  -webkit-box-shadow:0px 0px 20px #333; -moz-box-shadow:0px 0px 20px #333; -o-box-shadow:0px 0px 20px #333;}
	
/* Tool Tip CSS */
#bubble_tooltip{
	width:100px;
	position:absolute;
	display:none;
}
/*#bubble_tooltip .bubble_top{
	background:url('../images/bubble_top.gif');
	background-repeat:no-repeat;
	height:16px;	
}*/
#bubble_tooltip .bubble_middle{
	background:#6f3319;	
	padding:8px 5px;
	color:#fff;
	text-align:left;
	border-radius:3px 3px 0px 3px ; -moz-border-radius:3px 3px 0px 3px ; -o-border-radius:3px 3px 0px 3px; -webkit-border-radius:3px 3px 0px 3px;
}
#bubble_tooltip .bubble_middle span{
	position:relative;
	font-size:14px;
	
}
#bubble_tooltip .bubble_bottom{
	background:url(../images/popup_bottomcorner.png) no-repeat right bottom;
	height:12px;
	width:12px;
	position:relative;
	top:0px;
	left:88%;
}

.pagination{ float:right; width:320px; text-align:right; }
.pagination b{ width:15px; line-height:15px; border:1px solid #64260B; font-weight:bold; padding:0px 5px; background:#4F1C06;}
.pagination a{ width:15px; line-height:15px; border:1px solid #8e0707; font-weight:bold;padding:0px 5px; background:#b00a0a; color:#fff;}
.pagination a:hover{ width:15px; line-height:15px; border:1px solid #8e0707; font-weight:bold; padding:0px 5px; background:#8e0707;}

