body {font:14px 'Trebuchet MS',Arial,sans-serif; /*background:#000 url(../images/header-bg.png) no-repeat center top; */color: #454545; margin:0; padding: 0; }

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;	margin: 0;}
dl { display:block; width:100%;}
h1, h2, h3, h4, h5, h6, p {margin: 0;	 /* removing the top margin gets around an issue where margins can escape from their containing block. The remaining bottom margin will hold it away from any elements that follow. */
	padding: 0px;padding: 0px; /* adding the padding to the sides of the elements within the blocks, instead of the block elements themselves, gets rid of any box model math. A nested block with side padding can also be used as an alternate method. */
}
/* PARAGRAPH STYLES */
H1, H2, H3, H4, H5 {font-size:100%;	font-weight:normal;}
H1 {}
H2 {}
H3 {}
H4 {}

A { color:#8d8d8d; text-decoration:none;}
/*A:visited{ text-decoration:none; color:#;}*/
A:hover {color:#61BD1C; text-decoration:none;}
/*A:active { text-decoration:none; color:#;}*/
A:focus {outline:none;}
:focus {outline: 0;}
fieldset, img {border:0;}
img {max-height:100%; max-width:100%;}
q:before, q:after {	content:'';}
header, section, footer, aside, nav, article, figure {display:block; margin:0px; padding:0px;}
input, textarea, select {font-family:inherit; font-size:inherit; font-weight:inherit;}
input:focus {/*box-shadow: 0 0 5px rgba(77, 225, 224, 1); -webkit-box-shadow: 0 0 5px rgba(77, 225, 224, 1); -moz-box-shadow: 0 0 5px rgba(77, 225, 224, 1);*/ }
.clear {clear: both;}
.lF {float:left;}
.rF {float:right;}
.border_none{border:0 solid #fff!important}
.margbot10{margin-bottom:10px!important;}
.margbot20{margin-bottom:20px!important;}
.error{font:normal 12px Arial, Helvetica, sans-serif; color:#f00; margin:3px 0 0 5px; } 
.textright{text-align:right!important;}
.admin_btn{ background:#61BD1C; border:none; color:#fff; font-size:15px; padding:5px 15px; cursor:pointer; border:0 solid #fff; border-radius:5px; }
.admin_btn:hover{background:#52A712; color:#fff;}
.clear_btn{ background:url(../images/btn-gray-hover-bg.jpg) repeat-x left bottom; border:none; color:#fff; font-size:15px; padding:5px 15px; cursor:pointer; border:0 solid #fff; border-radius:5px; }
.clear_btn:hover{background:url(../images/btn-gray-bg.jpg) repeat-x left bottom; color:#fff;}
.bt_grey, .bt_gray{ background:url(../images/btn-gray-hover-bg.jpg) repeat-x left bottom; border:none; color:#fff; font-size:15px; padding:5px 15px; cursor:pointer; border:0 solid #fff; border-radius:5px; }
.bt_grey, .bt_gray:hover{background:url(../images/btn-gray-bg.jpg) repeat-x left bottom; color:#fff;}
table{width: 100%; margin:0 auto; border-collapse: collapse; text-align:left; vertical-align:top; font-size:13px;}
table th{font-size: 12px; line-height: 30px; text-align: left; padding: 5px; border-top:1px solid #8F755C;  background:#8F755C; vertical-align: middle; color:#fff;}
table th a{color:#DEEBF4;}
table th a:hover{color:#fff;}
table td{line-height: 20px; padding: 5px; border: 1px solid #ccc; vertical-align: top; background:#fff; color:#555555;}

/*-- Back to top button --*/
#back-top {position: fixed; bottom: 30px; right:12px;}
#back-top a {width: 51px; text-indent:-99999px; display: block; text-align: center; font: 11px/100% Arial, Helvetica, sans-serif; text-transform: uppercase; text-decoration: none; color: #bbb; /* background color transition */ -webkit-transition: 1s; -moz-transition: 1s; ransition: 1s;}
#back-top a:hover {color: #000;}
/* arrow icon (span tag) */
#back-top span {width: 51px; height: 51px; display: block; margin-bottom: 7px; background: #b7b7b7 url(../images/up-arrow.png) no-repeat center center;/* rounded corners */ -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; /* background color transition */ -webkit-transition: 1s; -moz-transition: 1s; transition: 1s;}
#back-top a:hover span {background-color: #777;}

.success_msg{background:#e3fbe7 url(../images/success_icon.png) no-repeat 10px 5px; border:1px solid #bafcc5; padding:5px 10px 5px 35px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; color:#048d1b; font-size:13px; width:auto; margin:10px auto;}
.error_msg{background:#fed1d1 url(../images/alert_icon.png) no-repeat 10px 5px; border:1px solid #ffbcbc; padding:5px 10px 5px 35px; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; -o-border-radius:5px; color:#cf0a0a; font-size:13px; width:auto; margin:10px auto;}





/*-- Footer --*/
.ft_outer_wrapp{background:#000; width:100%;}
.ft_outer_wrapp .copyright_box{float:left; line-height:50px; margin-left:50px; color:#6b6d6e; font-size:12px;}
.ft_outer_wrapp .pow_box{float:right; margin-right:50px;}
.ft_outer_wrapp .pow_box img{margin-top:14px;}


.alert {background-color: #FCF8E3; border: 1px solid #FBEED5; border-radius:4px; margin-bottom: 20px; padding: 8px 35px 8px 14px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
.alert, .alert h4 {color: #C09853;}
.alert-success {background-color: #DFF0D8; border-color: #D6E9C6; color: #468847;}
.alert-info {background-color: #D9EDF7; border-color: #BCE8F1; color: #3A87AD;}
.alert-danger, .alert-error {background-color: #F2DEDE; border-color: #EED3D7; color: #B94A48;}

.error {color: #dc0707; }

